li {
  list-style-type: none;
  text-decoration: none;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.head {
  margin-left: 20%;
}

.bump {
  margin: 10%;
}

.donut-pic {
  max-height: 100px;
}

.card {
  display: inline-flex;
}

.card-item {
  justify-content: space-around;
}
