li {
  list-style-type: none;
  text-decoration: none;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.head {
  margin-left: 20%;
}

.bump {
  margin-left: 10%;
}

img {
  max-height: 200px;
}
