extends index.pug

block content
  h1.head About Billy
  img.bump(src="https://pbs.twimg.com/profile_images/651987946074173440/Oj8ht-e8.jpg")
  p.bump Billy has been slinging donuts to the good people of Brooklyn for over 40 years.


  p Today's date is #{currentDate()}
